<!-- <body> -->
    <!-- <div class="background-template">     -->
<div class="container" id="container">
    <div class="signin-signup">
        <!-- FORMULARIO INICIO DE SESION -->
        <form action="" class="sign-in-form">
            <h2 class="title">Inicio de sesión</h2>
            <div class="input-field">
                <i><mat-icon>alternate_email</mat-icon></i>
                <input type="text" placeholder="Correo Electrónico">
            </div>
            <div class="input-field">
                <i><mat-icon>no_encryption</mat-icon></i>
                <input type="password" placeholder="Contraseña">
            </div>
            <input type="submit" value="Aceptar" class="btn">
            <p class="social-text">o usa tu cuenta</p>
            <div class="social-media">
                <a href="#" class="social-icon">
                    <mat-icon>cloud_circle</mat-icon>
                </a>
                <a href="#" class="social-icon">
                    <mat-icon>cloud_circle</mat-icon>
                </a>
                <a href="#" class="social-icon">
                    <mat-icon>cloud_circle</mat-icon>
                </a>
            </div>
            <p class="account-text">¿Aún no tienes una cuenta?<a class="register-text" href="#" id="sign-up-btn2" (click)="registerButton2()">Registrate</a></p>
        </form>

        <!-- FORMULARIO REGISTRO -->
        <form action="" class="sign-up-form">
            <h2 class="title">Registrate</h2>
            <div class="input-field">
                <i><mat-icon>person</mat-icon></i>
                <input type="text" placeholder="Nombre usuario">
            </div>
            <div class="input-field">
                <i><mat-icon>alternate_email</mat-icon></i>
                <input type="text" placeholder="Correo Electrónico">
            </div>
            <div class="input-field">
                <i><mat-icon>no_encryption</mat-icon></i>
                <input type="password" placeholder="Contraseña">
            </div>
            <input type="submit" value="Registrarse" class="btn">
            <p class="social-text">o usa tu cuenta</p>
            <div class="social-media">
                <a href="#" class="social-icon">
                    <mat-icon>cloud_circle</mat-icon>
                </a>
                <a href="#" class="social-icon">
                    <mat-icon>cloud_circle</mat-icon>
                </a>
                <a href="#" class="social-icon">
                    <mat-icon>cloud_circle</mat-icon>
                </a>
            </div>
            <p class="account-text">ya tienes una cuenta? <a href="#" id="sign-in-btn2" (click)="loginButton2()">Sing in</a></p>
        </form>
    </div>
    <div class="panels-container">
    <div class="panel left-panel">
        <div class="content">
            <h3>Comienza tu viaje ahora</h3>
            <p>Si tienes una cuenta, inicia sesión aquí y diviértete.</p>
            <button class="btn" id="sign-in-btn" (click)="loginButton()" >Iniciar sesión</button>
        </div>
        <img src="../../../assets/image/signin.svg" alt="" class="image">
    </div>
    <div class="panel right-panel">
        <div class="content">
            <h3>Comienza tu viaje ahora</h3>
            <p>Si aún no tienes una cuenta, únete a nosotros y comienza tu viaje.</p>
            <button class="btn" id="sign-up-btn" (click)="registerButton()" >Registrarse</button>
        </div>
        <img src="../../../assets/image/signup.svg" alt="" class="image">
    </div>
</div>
</div>
<!-- </div> -->

<!-- </body> -->






















































































<!-- <p>login works!</p>
<div class="container-login">
    <div class="box">
        <div class="container-logo">
            <img class="img-proyecto" src="../../../assets/logo/proyecto.jpeg">
            <h1>Hola bienvenido</h1>
        </div>
        <div class="container" id="container">
            <div class="form-container register-container">
                <form action="#">
                    <h1>Register hire.</h1>
                    <input type="text" placeholder="Nombre">
                    <input type="text" placeholder="Dirección de correo electrónico">
                    <input type="password" placeholder="Contraseña">
                    <button>Register</button>
                    <span>o usa tu cuenta</span>
                    <div class="social-container">
                        <a href="#" class="social"><i class="Init Init-facebook-fill"><mat-icon>cloud_circle</mat-icon></i></a>
                        <a href="#" class="social"><i class="Init Init-google"><mat-icon>cloud_circle</mat-icon></i></a>
                        <a href="#" class="social"><i class="Init Init-linkedin-original"><mat-icon>cloud_circle</mat-icon></i></a>
                    </div>
                </form>
            </div>

            <div class="form-container login-container">
                <form action="#">
                    <h1>Inicio de sesión</h1>
                    <input type="email" placeholder="Dirección de correo electrónico">
                    <input type="password" placeholder="Contraseña">
                    <div class="content">
                        <div class="checkbox">
                            <input type="checkbox" name="checkbox" id="checkbox">
                            <label>Recordar</label>
                        </div>
                        <div class="pass-link">
                            <a href="#">Has olvidado tu contraseña?</a>
                        </div>
                    </div>
                        <button onclick="">Aceptar</button>
                        <span>o usa tu cuenta</span>
                        <div class="social-container">
                            <a href="#" class="social"><i class="lni lni-facebook-fill"><mat-icon>cloud_circle</mat-icon></i></a>
                            <a href="#" class="social"><i class="lni lni-google"><mat-icon>cloud_circle</mat-icon></i></a>
                            <a href="#" class="social"><i class="lni lni-linkedin-original"><mat-icon>cloud_circle</mat-icon></i></a>
                        </div>

                </form>
            </div>

            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1 class="title">Hola <br> Amigos</h1>
                        <p>Si tienes una cuenta, inicia sesión aquí y diviértete.</p>
                        <button class="ghost" id="login" (click)="loginButton()">iniciar sesión
                            <i class="lni lni-arrow-left login"></i>
                        </button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1 class="title">Comienza tu <br> viaje ahora</h1>
                        <p>Si aún no tienes una cuenta, únete a nosotros y comienza tu viaje.</p>
                        <button class="ghost" id="register" (click)="registerButton()">Registrarce
                            <i class="lni lni-arrow-right register"></i>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>

 -->