<button (click)="getTodo()">Carga todo</button>

<!-- esto es un ejemplo de comunicacion bidireccional -->
<!-- para mandar datos se usar asi userName = {{userName}}  -->
<!-- para recuperar datos y escucharlos se hace asi (addNameEvent)="getFromLogin($event)" -->
<!-- ejemplo -->
<app-login 
userName = {{userName}} 
(addNameEvent)="getFromLogin($event)">
</app-login>


<!-- para cuando tengamos exceso de datos que se quieran cargar en una vista podemos ocupar la carga diferida conforme vas scroleando-->
<!-- @defer(on viweport){
  <app-login 
  userName = {{userName}} 
  (addNameEvent)="getFromLogin($event)">
  </app-login>
}@placeholder {
  <p> se muestra antes de completar la carga</p>
} -->


@if (todos$ | async; as as todos){
  <ul>
    @for (todo of todos; track $index) {
      <li  >{{todo.title}}</li>
    }
  </ul>

}
